 /* set map, body, and html to 100% of the screen size */

html, body, #map {
  height: 100%;
  width: 100%;
}

.state-heading{
  padding-top:10px;
  padding-bottom:10px;
}

body {
  font-family: Lobster;
  margin-top: 50px;
  padding: 0;
  margin: 0;
}
body.left-margin {
    margin-left: 25px;
}

a.link {
  color: white;
}
.white-font{
  color:white;
}
.jumbotron {
  text-align: center;
  color: white;
  position: relative;
  background:	#0077be;
  margin-bottom: 0px;
  background-size: cover;
  overflow: hidden;
}

.button {
	background-color :white;
	color: #021b3d;
	cursor: pointer;
}

.button:hover {
    background-color: #76ffff;
    color: black;
}
